/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    text-align: center;
  }
 h1{
    color: salmon;
    background: #6E2EFE;
    font-family: "Roboto", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;

}
#test-b{
    color: #050BB2;
}
.test2{
  color: #EF4745;
}
h3,h4,h5{
  color: #2ed4fe;
  background: #2e2e2e;
}
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B033C;
}

header {
  background-color: #0058C0;
  padding: 1rem;
  border-bottom: 2px solid #2e2e2e;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul li a {
  color: aliceblue;
  padding: 10px 15px;
  transition: color 0.3s ease;
  text-align: right;
}

a {
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
}

a:hover {
  color: #007bff;
  
}

h1 {
  color: aliceblue;
  text-align: center;
  margin: 20px 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: aliceblue;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
form{
  color: #0058C0;
  text-align: justify;
}